body {
    margin: 0;
    background-color: black;
    font-family: 'Helvetica', sans-serif;
}

#gameframe{
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    color: white;
}

#gameframe h1{
    text-align: center;
    color: white;
    margin: 0;
}

#gameframe h4{
    margin: 0;
    margin-bottom: 10px;
}

#container {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid #eee;
    position: relative;
    color: black;
}
#game, #status, #lobby, #win {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#game {
    z-index:0;
}

#status {
    background-color: white;
    opacity:0.8;
    z-index:2;
}

#statustext {
    margin: 300px auto;
    width: 600px;
    height: 50px;
    text-align: center;
}

#lobby {
    text-align: center;
    color: white;
    background-color: black;
    z-index:1;
}

#lobbyInner {
    padding: 50px;
}

#players {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

#win {
    text-align: center;
    color: white;
    background-color: black;
    z-index:1;
}
